.search-container {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #f6f3ff; /* light purplish white */
  border-radius: 9999px;
  padding: 0.5em 1em;
  width: 450px;
  height: 40px;
}

.search-container:hover {
   box-shadow: 2px 2px 2px 2px #ededed;
  transition: box-shadow 0.2s ease-in-out;
}
.search-input {
  flex: 1;
  border: none;
  background: transparent;
  outline: none;
  font-size: 18px;
  color: #333;
}

.search-input::placeholder {
  color: #aaa;
}

.search-icon {
  width: 30px;
  height: 30px;
  margin-left: 0.5em;
  opacity: 0.6;
  cursor: pointer;
}
