.startpage {
  padding: 2.5rem;
  
}

.startpage h1 {
  font-size: 2.2rem;
  font-weight: 400;
  margin-bottom: 3rem;
}

.total {
  display: flex;
  gap: 4rem;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-end;
  justify-content: center;
  /* margin-top: 5rem; */
}

.container {
  /* background-color: white; */
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0 0 13.9px 0 rgba(0, 0, 0, 0.1);
  width: 40vw;
  /* height: 50vh; */
  flex-shrink: 0;
  padding: 3rem;
}

.container h1 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 1.5rem;
}

.googleform img {
  height: 5rem;
}

.description {
  color: black;
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 1rem;
  line-height: 2rem;
  margin-top: 2rem;
}

.instruction {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 2rem;
  align-self: flex-end;
  width: 89%;
  margin-right: 3rem;
}

.instruction p {
  align-items: flex-start;
  margin-left: 0.5rem;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.6rem;
}

.instruction img {
  height: 25px;
  margin-top: 4px;
}

.deadlinecontainer h2 {
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 2.2rem;
}

.deadline {
  margin-bottom: 3rem;
}

.datewrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1.3rem;
}
.timewrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}
.dateimage img {
  height: 2rem;
}

.startbutton {
  font-size: 1rem;
  padding: 1.2rem 6rem;
  margin-top: 3rem;
  flex-shrink: 0;
  border-radius: 200px;
  border: none;
  background: #fff;
  box-shadow: 0 0 13.9px 0 rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
}

.startbutton:hover {
  cursor: pointer;
  color: #fff;
  background-color: #6092ff;
  box-shadow: 2px 5px 12px 0 rgba(255, 255, 255, 0.69) inset,
    0 0 13.9px 0 rgba(0, 0, 0, 0.1), 0 0 13.9px 0 rgba(0, 0, 0, 0.1);
}

.startbutton:disabled,
.disabledbutton {
  background-color: #ffffff;
  color: rgb(67, 66, 66);
  cursor: not-allowed;
  opacity: 0.7;
}

.startbutton:disabled:hover {
  box-shadow: none;
  cursor: not-allowed;
  opacity: 0.8;
}

.noformbutton {
  font-size: 1rem;
  padding: 1.2rem 7.5rem;
  margin-top: 3rem;
  flex-shrink: 0;
  border-radius: 200px;
  border: none;
  background-color: #ffffff;
  color: rgb(67, 66, 66);
  cursor: not-allowed;
  opacity: 0.7;
}
