

.wrapper {
  width: 100%;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.wrapper h1 {
  font-size: 1.6rem;
  color: #1f1f1f;
  margin-bottom: 1.5rem;
  font-weight: 400;
}
.tabContainer {
    width: fit-content;
    background-color: white;
    padding: 10px 12px;
    border-radius: 25px;
    display: flex;
    gap: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.tab {
  border: none;
  background: transparent;
  padding: 8px 22px;
  border-radius: 25px;
  height: 40px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  color: #555;
  white-space: nowrap;
}

.tab:not(.active):hover {
  background-color: #f6f6ff;
  color: #222;
}

.active {
  background-color: #ffffff;
  z-index: 2;
  color: #000;
  font-weight: 600;
  position: relative;
  box-shadow:
    0px 0px 6px rgba(0, 0, 0, 0.15),
    0px 2px 8px rgba(0, 0, 0, 0.1);
}
