.header {
  position: fixed;           /* Add this line */
  top: 0;                    /* Already there */
  left: 0;                   /* Add this to fully anchor to top left */
  width: 100%;
  height: 60px;               /* Use 100% instead of 100vw for safer layout */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  background-color: #FFFFFF;
  color: rgb(0, 0, 0);          /* Use fixed height in px instead of 5vh */
  z-index: 1000;             /* Ensure it stays above */
  border-radius: 0;          /* Optional: you had 10px top border-radius */
}
.logo{
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}
.header h3{
  margin: 0;
  font-size: 0.75em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
/* ADD THIS TO YOUR Header.module.css FILE */
.profile-container {
  position: relative;
  display: flex;
  align-items: center;
}

.search-container {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #f6f3ff; /* light purplish white */
  border-radius: 9999px;
  padding: 0.5em 1em;
  width: 450px;
  height: 40px;
}

.search-container:hover {
   box-shadow: 2px 2px 2px 2px #ededed;
  transition: box-shadow 0.2s ease-in-out;
}
.search-input {
  flex: 1;
  border: none;
  background: transparent;
  outline: none;
  font-size: 18px;
  color: #333;
}

.search-input::placeholder {
  color: #aaa;
}

.search-icon {
  width: 30px;
  height: 30px;
  margin-left: 0.5em;
  opacity: 0.6;
  cursor: pointer;
}


.notification {
  top: 1em;
  right: 1em;;
 background-color: transparent;
  height: 2em;
  width: 2em;
  z-index: 1000;
}

.notificationbutton{
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 1.5em;
}


.header-right {
  display: flex;
  align-items: center;
  gap: 1em;
}

.icon-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.icon-button img {
  width: 24px;
  height: 24px;
}

.greeting h3 {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 500;
  color: rgb(0, 0, 0);
  margin: 0;
  padding-right: 5px;
}

.profile-button img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 50px;
}

