#sidebar {
  box-sizing: border-box;
  height: 100vh;
  width: 300px;
  padding: 15px 1em;
  background-color: #ffffff;
  margin-top: 92px;
  position: sticky;
  top: 0;
  align-self: start;
  transition: 300ms ease-in-out;
  overflow: hidden;
  text-wrap: nowrap;
}

#sidebar>ul>li:last-child{
  margin-top: auto;
}

#sidebar.close {
  padding: 5px;
  width: 60px;
}

/* Sidebar List */
#sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#sidebar > ul > li {
  margin-bottom: 10px;
}

.logoutbutton {
  all: unset;
  cursor: pointer; 
}

/* Active NavLink Styling */
#sidebar a.active {
  color: var(--accent-clr);
  font-weight: bold;
  background-color: var(--hover-clr);
}

#sidebar a.active svg {
  fill: var(--accent-clr);
}

/* Common styles for both links and buttons */
#sidebar a, #sidebar form,
#sidebar .dropdown-btn,
#sidebar .logo {
  border-radius: 0.5em;
  padding: 0.85em;
  text-decoration: none;
  color: var(--text-clr);
  display: flex;
  align-items: center;
  gap: 1em;
}

/* Button Reset */
.dropdown-btn {
  width: 100%;
  text-align: left;
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
  color: var(--text-clr);
}

/* SVG Icon Styling */
#sidebar svg {
  flex-shrink: 0;
  fill: var(--text-clr);
}

/* Text span flex to grow */
#sidebar a span, #sidebar form p,
#sidebar .dropdown-btn span {
  flex-grow: 1;
}

#sidebar form:hover{
  background-color: rgb(255, 239, 239);
  color: red;
}

/* Hover Effects */
#sidebar a:hover,
#sidebar .dropdown-btn:hover {
  background-color: var(--hover-clr);
}

/* Submenu Animation */
#sidebar .sub-menu {
  display: grid;
  grid-template-rows: 0fr;
  transition: 300ms ease-in-out;
}

#sidebar .sub-menu > div {
  overflow: hidden;
}

/* Show Submenu */
#sidebar .sub-menu.show {
  grid-template-rows: 1fr;
}

/* Submenu link indentation */
#sidebar .sub-menu a {
  padding-left: 2em;
}

/* Dropdown arrow rotate */
.dropdown-btn img:last-child {
  transition: 200ms ease;
}

.rotate img:last-child {
  rotate: 180deg;
}

/* Toggle Sidebar Button */
#toggle-btn {
  margin-left: auto;
  padding: 1em;
  border: none;
  border-radius: 0.5em;
  background: none;
  cursor: pointer;
}

#toggle-btn:hover {
  background-color: var(--hover-clr);
}

#toggle-btn svg {
  transition: rotate 150ms ease;
}