@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
  --base-clr: #11121a;
  --line-clr: #42434a;
  --hover-clr: #F8F6FF;
  --text-clr: #000000;
  --accent-clr: #000000;
  --secondary-text-clr: #b0b3c1;
}
*{
  margin: 0;
  padding: 0;
}

html{
  font-family: Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
  min-height: 100vh;
  min-height: 100dvh;
  background-color: #F8F6FF;
  color: var(--text-clr);
 
}

.layout-grid {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: auto 1fr;
  min-height: 100vh;
}

.content-area {
  grid-column: 2 / 3;
  grid-row: 1 / span 2;
  display: flex;
  flex-direction: column;
}
/* progress bar */
#nprogress .bar {
  background: linear-gradient(
    90deg,
    #3897f0 0%,
    #4cb5f9 50%,
    #70d6ff 100%
  );
  height: 5px;
  border-radius: 2px 0 0 2px;
  position: fixed;
  top: 0;
  right: 0;
  left: auto;
  width: 100%;
  z-index: 9999;
  transform-origin: right;
}

#nprogress .spinner {
  display: none;
}


/* Sidebar Container */



main {
  padding: min(30px, 7%);
  margin-top: 60px; /* for fixed header */
  flex-grow: 1;
}

main p{
  color: var(--secondary-text-clr);
  margin-top: 5px;
  margin-bottom: 15px;
}
.container{
  border: 1px solid var(--line-clr);
  border-radius: 1em;
  margin-bottom: 20px;
  padding: min(3em, 15%);

  h2, p { margin-top: 1em }
}

@media(max-width: 800px){
  body{
    grid-template-columns: 1fr;
  }
  main{
    padding: 2em 1em 60px 1em;
  }
  .container{
    border: none;
    padding: 0;
  }
  #sidebar{
    height: 60px;
    width: 100%;
    border-right: none;
    border-top: 1px solid var(--line-clr);
    padding: 0;
    position: fixed;
    top: unset;
    bottom: 0;

     grid-column: 1 / 2;
  grid-row: 1 / span 2;

    > ul{
      padding: 0;
      display: grid;
      grid-auto-columns: 60px;
      grid-auto-flow: column;
      align-items: center;
      overflow-x: scroll;
    }
    ul li{
      height: 100%;
    }
    ul a, ul .dropdown-btn{
      width: 60px;
      height: 60px;
      padding: 0;
      border-radius: 0;
      justify-content: center;
    }

    ul li span, ul li:first-child, .dropdown-btn svg:last-child{
      display: none;
    }

    ul li .sub-menu.show{
      position: fixed;
      bottom: 60px;
      left: 0;
      box-sizing: border-box;
      height: 60px;
      width: 100%;
      background-color: var(--hover-clr);
      border-top: 1px solid var(--line-clr);
      display: flex;
      justify-content: center;

      > div{
        overflow-x: auto;
      }
      li{
        display: inline-flex;
      }
      a{
        box-sizing: border-box;
        padding: 1em;
        width: auto;
        justify-content: center;
      }
    }
  }
}


#tfsearchcontainer{
  margin-left: auto;
}

#Teamselectionsearchbar{
  background-color: white;
  margin-left: auto;
}



.search-container {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #f6f3ff; /* light purplish white */
  border-radius: 9999px;
  padding: 0.5em 1em;
  width: 450px;
  height: 40px;
}

.search-container:hover {
   box-shadow: 2px 2px 2px 2px #ededed;
  transition: box-shadow 0.2s ease-in-out;
}
.search-input {
  flex: 1;
  border: none;
  background: transparent;
  outline: none;
  font-size: 18px;
  color: #333;
}

.search-input::placeholder {
  color: #aaa;
}

.search-icon {
  width: 30px;
  height: 30px;
  margin-left: 0.5em;
  opacity: 0.6;
  cursor: pointer;
}

.accept-button,
.reject-button {
  padding: 5px 15px;
  border: 1.5px solid #ccc;
  border-radius: 20px;
  font-size: 14px;
  cursor: pointer;
  font-weight: 500;
  background-color: white;
  transition: 0.2s ease;
}

.reject-button {
  border-color: #888;
  color: #444;
}

.reject-button:hover {
  background-color: #eee;
}

